# Ignore all .zip files
*.zip
*.tar
*.pack


# You can add other files or folders to ignore below

# Example: Ignore node_modules folder
node_modules/
.git_backup/
.git/

sites/default/settings.php
sites/default/settings.local.php
sites/default/files/
themes/contrib/dxpr_theme/js/minified/main.js
themes/contrib/dxpr_theme/js/minified/main.min.js

# Example: Ignore environment configuration files
# .env
