{% for item in items %}
  <li{{ item.attributes.addClass('menu-item') }}>
    <a href="{{ item.url }}">{{ item.title }}</a>
    {% if item.below %}
      <ul class="menu">
        {{ menus.menu_links(item.below, attributes, menu_level + 3) }}
      </ul>
    {% endif %}
  </li>
{% endfor %}